In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.metrics import mean_squared_error
filename = ('/content/drive/MyDrive/Colab Notebooks/coding dojo/PTDataScience/PandasParaManipulacioÃÅnDeDatos/abalone.data')
df = pd.read_csv(filename, delimiter=',', header=None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

In [ ]:
df.columns = ['Sex', 'Length', 'Diameter', 'Height', 'Whole_weight', 'Shucked_weight', 'Viscera_weight','Shell_weight','Rings']

In [ ]:
df.head()

  Sex  Length  Diameter  ...  Viscera_weight  Shell_weight  Rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [ ]:
x = df[['Length', 'Diameter', 'Height', 'Whole_weight', 'Shucked_weight', 'Viscera_weight','Shell_weight']]
y = df['Rings']

# Regresion

In [ ]:
# escalamos la data
scaler = StandardScaler()
scaler.fit(x)
x = scaler.transform(x)
knn_reg = KNeighborsRegressor()
knn_reg.fit(x,y)
age_predict = knn_reg.predict(x)

In [ ]:
knn_reg.score(x,y)

0.6576046052340014

In [ ]:
np.sqrt(mean_squared_error(y, age_predict))

1.8863825357290773

# Clasificacion

In [ ]:
df1 = pd.read_csv(filename, delimiter=',', header=None)
df1.columns = ['Sex', 'Length', 'Diameter', 'Height', 'Whole_weight', 'Shucked_weight', 'Viscera_weight','Shell_weight','Rings']
x1 = df1[['Length', 'Diameter', 'Height', 'Whole_weight', 'Shucked_weight', 'Viscera_weight','Shell_weight', 'Rings']]
y1 = df1['Sex']
scaler = StandardScaler()
scaler.fit(x1)
x1 = scaler.transform(x1)

In [ ]:
knn_class = KNeighborsClassifier()
knn_class.fit(x1,y1)
knn_class.score(x1,y1)

0.6794350011970314

1. Si se puede utilizar el modelo de regresion como metodo adecuado para prediccion.
2. Problemas de clasificacion no suelen ser resueltos con regresion lineal